{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="https://bootswatch.com/5/minty/bootstrap.min.css">
{% endblock %}
{% block title %}
    {{ 'title.change_data'|trans}}
{% endblock %}

{% block body %}
    {% include 'nav.html.twig' %}
    <h1>  {{ 'title.change_data'|trans}}</h1>
    {{ form_start(form, { method: 'PUT', action: url('data_edit') }) }}
    {{ form_widget(form) }}

    <input type="submit" value="{{ 'label.change'|trans }}" class="btn btn-primary szczegoly2" />
    <a class="btn btn-primary szczegoly2" href="{{ url('profil_index')}}" title="{{ 'action.back_to_list'|trans }}">{{ 'action.back_to_list'|trans }}</a>


    {{ form_end(form) }}

{% endblock %}