{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="https://bootswatch.com/5/minty/bootstrap.min.css">
{% endblock %}
{% block title %}
    {{ 'title.Userspanel'|trans }}
{% endblock %}

{% block body %}
   {% include 'nav.html.twig' %}
                                <h1>{{ 'title.Userspanel'|trans}}</h1>
                                <dl class="dl-horizontal">
                                    <dt>{{ 'label.login'|trans }}</dt>
                                    <dd>{{ usersdata.login }}</dd>
                                    <dt>{{ 'label.name'|trans }}</dt>
                                    <dd>{{ usersdata.name }}</dd>
                                    <dt>{{ 'label.surname'|trans }}</dt>
                                    <dd>{{ usersdata.surname }}</dd>
                                </dl>

                            </div>


{% endblock %}