{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="https://bootswatch.com/5/minty/bootstrap.min.css">
{% endblock %}
{% block title %}
    {{ 'title.film'|trans({'%id%': film.id|default('')}) }}
{% endblock %}

{% block body %}


<h3 class="login-heading mb-4">
    {{ 'title.film'|trans }}</h3>

    {% if film.photo is defined and film.photo|length %}
        <img class="nav-profile-img" src="{{ asset('uploads/photos/'~ film.photo.filename) }}">
        <a class="btn btn-outline-success " href="{{ url('photo_edit', {id: film.photo.id}) }}" title="{{ 'action.edit_avatar'|trans }}">
            {{ 'action.edit_photo'|trans }}
        </a>
        <a class="btn btn-outline-success " href="{{ url('photo_delete', {id: film.photo.id}) }}" title="{{ 'action.photo_avatar'|trans }}">
            {{ 'action.delete_photo'|trans }}
        </a>
    {% else %}
    {% if is_granted('ROLE_ADMIN') %}
    <a class="btn btn-outline-success " href="{{ url('photos_create', {id: film.id})}}" title="{{ 'action.add_photo'|trans }}">
        {{ 'action.add_photo'|trans }}
    </a>
    {% endif %}
    {% endif %}

    {% if film is defined and film|length %}
        <dl class="dl-horizontal">
            <dt>{{ 'label.title_film'|trans }}</dt>
            <dd>{{ film.title }}</dd>
            <dt>{{ 'label.film_description'|trans }}</dt>
            <dd>{{ film.description }}</dd>
            <dt>{{ 'label.releasedate'|trans }}</dt>
            <dd>{{ film.releasedate|format_date('long') }}</dd>
            <dt>{{ 'label.category'|trans }}</dt>
            <td>{{ film.category.name }}</td>
            <dt>{{ 'label.tags'|trans }}</dt>
            {% for tag in film.tags %}
                {{ tag.name }}
            {% endfor %}

        </dl>

        {% if is_granted('ROLE_USER') %}
          <a class="btn btn-primary prawa" href="{{ url('favorite_new', {'id': film.id})}}" title="{{ 'action.back_to_list'|trans }}">
            {{ 'action.add_favorite'|trans }}
        </a>
        {% endif %}
        <h3 class="login-heading mb-4">{{ 'title.comments'|trans }}</h3>
        {% if is_granted('ROLE_USER') %}
        <a class="btn btn-primary prawa" href="{{ url('add_comment', {'id': film.id})}}" title="{{ 'action.back_to_list'|trans }}">
            {{ 'action.add_comment'|trans }}
        </a>
        {% endif %}
        {% if comments is defined %}
            {% for comment in comments %}
                <dl class="dl-horizontal">
                {{ comment.login.login }}
                {{ comment.content }}
                {{ comment.date|date }}
                    {% if is_granted('ROLE_ADMIN') %}
                    <a class="btn btn-primary prawa" href="{{ url('comment_delete', {'id': comment.id})}}" title="{{ 'action.delete_comment'|trans }}">
                        {{ 'action.delete_comment'|trans }}
                    </a>
                    {% endif %}
                </dl>
            {% endfor %}
        {% else %}
            <p>
                {{ 'message.no.comments'|trans }}
            </p>
        {% endif %}
        <a class="btn btn-primary prawa" href="{{ url('films_index')}}" title="{{ 'action.back_to_list'|trans }}">{{ 'action.back_to_list'|trans }}
        </a>
    {% else %}
        <p>
            {{ 'message.item_not_found'|trans }}
        </p>
    {% endif %}


{% endblock %}