{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="https://bootswatch.com/5/minty/bootstrap.min.css">
{% endblock %}

{% block title %}
    {{ 'title_favorite_list'|trans }}
{% endblock %}
{% block body %}

{% if pagination is defined and pagination|length %}
<div>
    <h2>{{ 'title_favorite_list'|trans }}</h2>

    <div class="navigation text-center">
        {{ knp_pagination_render(pagination) }}
    </div>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>{{knp_pagination_sortable(pagination, 'label.title'|trans, 'favorite_movies.id')}}</th>
            <th>{{ 'label_action'|trans }}</th>

        </tr>
        </thead>
        <tbody>
        {% for favorite in pagination %}
            {% if favorite.iduser.id == app.user.id %}
                {% for film in favorite.idfilm %}
                <tr><td> {{ film.title }}</td>
                <td> <a class="btn btn-primary" href="{{ url('favorite_delete', {id: film.id}) }}" title="{{ 'action.delete'|trans }}">
                        {{ 'action.delete'|trans }}
                    </a></td>
                </tr>
                    {%  endfor %}
                {# <td>{{ favorite.idfilm.filmsid.title }}</td>#}
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
    <div class="navigation text-center">
        {{ knp_pagination_render(pagination) }}
    </div>
</div>
{% else %}
    <p>
        {{ 'message.empty_list'|trans }}
    </p>
{% endif %}
{% endblock %}
